@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --color-one: #00FFEE;
    --color-two: #00D0FF;
    --color-three: #0091FF;
    --color-four: #0051FF;
    --color-five: #0011FF;
    --color-six: #2F00FF;
    --font-family: "Quicksand";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
  }

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(227deg, rgba(0,208,255,0.9) 0%, rgba(255,255,255,0.9) 100%), url(../images/kitty.png);
    background-size: cover;
    font-family: var(--font-family), sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--font-family);
    font-weight: 700;
}

p{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
}

a{
    font-size: 18px;
}

.note{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.noteIcon{
    font-size: 26px;
}

.addnote{
    font-size: 48px;
}

.user_name{
    font-family: var(--font-family);
    font-size: 20px;
}

.date_created{
    font-family: var(--font-family);
    font-size: 16px;
}

.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    border: 1px solid var(--color-two);
    background-color: var(--color-two);
    opacity: 1;
}
  
.divider-light {
    background-color: #fff;
}

.navbar{
    font-family: var(--font-family);
    transition: all 0.5s;
    .title{
        font-weight: 600;
        font-size: 40px;
        &:hover{
            text-decoration: underline;
            text-underline-offset: 3.2px;
            text-decoration-style: solid;
            text-decoration-color: black;
            text-decoration-thickness: 1px; /* Set to 1 pixel */
        }
    }
    .img-logo{
        height: 40px;
        width: 40px;
        position: relative;
        top: -10px;
    }
    .link-custom{
        font-size: 22px;
        position: relative;
        transition: color .5s ease-in-out;
        color: black;
        &::before{
            content: '';
		    position: absolute;
		    width: 100%;
		    height: 4px;
		    border-radius: 4px;
            top: 110%;
		    background-color: var(--color-six);
		    bottom: 0;
		    left: 0;
            transform: scaleX(0);
		    transform-origin: left;
		    transition: transform .5s ease-in-out;
        }
        &:hover{
            color: var(--color-six);
        }
        &:hover::before {
            transform: scaleX(1);
        }
    }
}

.navbar-scrolled{
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.10);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255, 0.5);
}

.full-h {
    min-height: 100vh;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255, 0.5);
}

.social-icons a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 24px;
}

.text{
    text-decoration: none;
}

.texticon{
    font-size: 36px;
}
