body, html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

#page-name {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#page-name, h3{
    font-style: italic;
    font-size: x-large;
    font-weight: 400;
}

#page-menu{
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#page-menu, a{
    text-decoration: none;
    font-style: oblique;
    font-weight: 350;
    color: #ffffff;
}

.heropage{
    margin-top: -80px;
    height: 70%;
    background-image: url('https://images.unsplash.com/photo-1542903660-eedba2cda473?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.herocontainer{
    width: 80%;
    height: 70%;
    color: #ffffff;
    margin-top: 6%;
    display: flex;
}

#heroinfo{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#heropic{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heropic img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#heroname{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#heroname h1{
    font-weight: 500;
    font-size: 30px;
    margin: 5px auto;
}

#heroname p{
    font-weight: 500;
    margin: 2.5px auto;
}

#moniker{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#herowords{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #ffffff;
}

#hero-moniker{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-moniker h3{
    text-align: center;
}

.about-me{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-about{
    height: 85%;
    width: 1024px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#hero-about h1{
    font-weight: 600;
    font-size: 35px;
    margin: 5px auto
}

#infos{
    height: 80%;
    width: 960px;
    margin: 5px auto;
    display: flex;
}

#info-one{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#info-one p{
    margin: 15px 0px 15px 100px;
    font-size: 18px;
}

#info-two{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 2px solid #000000;
}

#info-two p{
    margin: 10px 0px 10px 100px;
    font-size: 18px;
}

.education{
    height: 100%;
    border: 2px solid #000000;
}

.achievements{
    height: 100%;
    border: 2px solid #000000;
}

.projects{
    height: 100%;
    border: 2px solid #000000;
}

.services{
    height: 100%;
    border: 2px solid #000000;
}

.contacts{
    height: 100%;
    border: 2px solid #000000;
}

.download-cv{
    height: 100%;
    border: 2px solid #000000;
}