/* Main Body */

body, html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

/* Navigation Bar and Hero Page */

nav{
    height: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#nav-bar{
    height: 100%;
    width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav-bar h3{
    font-weight: 450;
    font-size: 38px;
    font-style: oblique;
    transition: 0.5s;
}

#nav-bar h3:hover{
    color: #808080;
    text-shadow: 0px 0px 7px rgb(75, 75, 75),
                 0px 0px 19px rgb(75, 75, 75),
                 0px 0px 29px rgb(75, 75, 75),
                 0px 0px 40px rgb(75, 75, 75);
}

#page-menu{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#page-menu p{
    color: #000000;
    font-weight: 350;
    font-size: 22px;
    font-style: oblique;
}

#page-menu a{
    text-decoration: none;
    color: #000000;
}

#page-menu a:hover{
    color: #808080;
    text-shadow: 0px 0px 7px rgb(75, 75, 75),
                 0px 0px 19px rgb(75, 75, 75),
                 0px 0px 29px rgb(75, 75, 75),
                 0px 0px 40px rgb(75, 75, 75);
}

.heropage{
    height: 70%;
    background-image: url('https://images.unsplash.com/photo-1542903660-eedba2cda473?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#herocontainer{
    width: 1024px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-div{
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: row;
}

#hero-pic{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#picture{
    position: relative;
    width: 90%;
    height: 60%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#picture:hover{
    &::before{
        content: '';
        position: absolute;
        border-radius: 50%;
    }
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border-top: 4px solid #ffffff;
        animation: rotate 1s linear infinite;
        overflow: hidden;
    }
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#picture img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

#hero-info{
    width: 60%;
    height: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-info-one{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#hero-info-one h3{
    font-weight: 450;
    font-size: 38px;
    font-style: oblique;
    margin: 0px 0px -10px 0px;
    color: #ffffff;
}

#hero-info-one p{
    font-weight: 350;
    font-size: 22px;
    margin-bottom: 25px;
    color: #ffffff;
}

#hero-info-two{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    border-top: 2px solid #ffffff;
}

#hero-info-two h4{
    font-weight: 450;
    font-size: 28px;
    font-style: oblique;
    margin: 25px 0px 0px 0px;
    color: #ffffff;
}

/* About me page */

.about-me{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-about{
    height: 100%;
    width: 1024px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#hero-title{
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#hero-title img{
    width: 70px;
    height: 70px;
}

#hero-about h1{
    font-weight: 600;
    font-size: 38px;
    margin-left: 5px;
}

#infos{
    height: 75%;
    width: 960px;
    margin: 5px auto;
    display: flex;
}

#info-one{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#info-one p{
    margin: 28px 0px 15px 50px;
    font-size: 24px;
}

#info-two{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 2px solid #000000;
}

#info-two p{
    margin: 10px 0px 10px 40px;
    font-size: 24px;
}

/* Education page */

.education{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-edu{
    height: 100%;
    width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #000000; 
}

#edu-title{
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#edu-title img{
    height: 70px;
    width: 70px;
}

#edu-title h1{
    font-weight: 600;
    font-size: 38px;
    text-align: center;
    margin-left: 5px;
}

#hero-attained{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero-infoone{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#divinfo-one{
    height: 90%;
    width: 45%;
    /* border-bottom: 2px solid #000000; */
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#divinfo-one img{
    height: 100px;
    width: 100px;
}

#divinfo-one h4{
    margin: 10px 0px 10px 0px;
    font-size: 28px;
    font-weight: bold;
}

#divinfo-one p{
    margin: 5px 0px 5px 0px;
    font-size: 26px;
}

#divinfo-one p:last-child{
    font-style: italic;
}

#divinfo-two{
    height: 90%;
    width: 45%;
    /* border-bottom: 2px solid #000000; */
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#divinfo-two img{
    height: 100px;
    width: 100px;
}

#divinfo-two h4{
    margin: 10px 0px 10px 0px;
    font-size: 28px;
    font-weight: bold;
}

#divinfo-two p{
    margin: 5px 0px 5px 0px;
    font-size: 26px;
}

#divinfo-two p:last-child{
    font-style: italic;
}

#hero-infotwo{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#divinfo-three{
    height: 90%;
    width: 45%;
    /* border-bottom: 2px solid #000000; */
    border: 2px solid #000000;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#divinfo-three img{
    height: 100px;
    width: 100px;
}

#divinfo-three h4{
    margin: 10px 0px 10px 0px;
    font-size: 28px;
    font-weight: bold;
}

#divinfo-three p{
    margin: 5px 0px 5px 0px;
    font-size: 26px;
}

#divinfo-three p:last-child{
    font-style: italic;
}

#divinfo-four{
    height: 90%;
    width: 45%;
    /* border-bottom: 2px solid #000000; */
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#divinfo-four img{
    height: 100px;
    width: 100px;
}

#divinfo-four h4{
    margin: 10px 0px 10px 0px;
    font-size: 28px;
    font-weight: bold;
}

#divinfo-four p{
    margin: 5px 0px 5px 0px;
    font-size: 26px;
}

#divinfo-four p:last-child{
    font-style: italic;
}

/* Skills */

.skill{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-skill{
    height: 100%;
    width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #000000;
}

#skill-title{
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#skill-title img{
    height: 70px;
    width: 70px;
}

#skill-title h1{
    font-weight: 600;
    font-size: 38px;
    text-align: center;
    margin-left: 5px;
}

#heroskill-div-one{
    height: 85%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skill-one{
    height: 23%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#hero-skills-one{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-skills-one h3{
    font-weight: 400;
    font-size: 28px;
    font-style: oblique;
}

#heroskill-infoone{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #000000;
}

#heroskill-infoone p{
    font-size: 22px;
    margin-left: 35px;
}

#skill-two{
    height: 23%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#hero-skills-two{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero-skills-two h3{
    font-weight: 400;
    font-size: 28px;
    font-style: oblique;
}

#heroskill-infotwo{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #000000;
}

#heroskill-infotwo p{
    font-size: 22px;
    margin-left: 35px;
}

#skill-three{
    height: 23%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#hero-skills-three{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-skills-three h3{
    font-weight: 400;
    font-size: 28px;
    font-style: oblique;
}

#heroskill-infothree{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #000000;
}

#heroskill-infothree p{
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 35px;
}

#skill-four{
    height: 23%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#hero-skills-four{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-skills-four h3{
    font-weight: 400;
    font-size: 28px;
    font-style: oblique;
}

#heroskill-infofour{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 2px solid #000000;
}

#heroskill-infofour p{
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 35px;
}

/* Languages */

.language{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-lang{
    height: 100%;
    width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #000000;
}

#lang-title{
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#lang-title img{
    height: 70px;
    width: 70px;
}

#lang-title h1{
    font-weight: 600;
    font-size: 38px;
    margin-left: 5px ;
}

#lang-info{
    height: 85%;
    width: 995px;
    display: flex;
    flex-direction: column;
}

#prog-lang-divone{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#prog-one{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
}

#prog-one img{
    height: 200px;
    width: 200px;
}

#prog-one h4{
    font-weight: 450;
    font-size: 24px;
    font-style: oblique;
    margin: 15px 0px 15px 0px;
}

#prog-two{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#prog-two img{
    height: 200px;
    width: 200px;
}

#prog-two h4{
    font-weight: 450;
    font-size: 24px;
    font-style: oblique;
    margin: 15px 0px 15px 0px;
}

#prog-three{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#prog-three img{
    height: 200px;
    width: 200px;
}

#prog-three h4{
    font-weight: 450;
    font-size: 24px;
    font-style: oblique;
    margin: 15px 0px 15px 0px;
}

#prog-four{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#prog-four img{
    height: 200px;
    width: 200px;
}

#prog-four h4{
    font-weight: 450;
    font-size: 24px;
    font-style: oblique;
    margin: 15px 0px 15px 0px;
}

#prog-lang-divtwo{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#prog-five{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#prog-five img{
    height: 200px;
    width: 200px;
}

#prog-five h4{
    font-weight: 450;
    font-size: 24px;
    font-style: oblique;
    margin: 15px 0px 15px 0px;
}

#prog-six{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#prog-six img{
    height: 200px;
    width: 200px;
}

#prog-six h4{
    font-weight: 450;
    font-size: 24px;
    font-style: oblique;
    margin: 15px 0px 15px 0px;
}

#prog-seven{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#prog-seven img{
    height: 200px;
    width: 200px;
}

#prog-seven h4{
    font-weight: 450;
    font-size: 24px;
    font-style: oblique;
    margin: 15px 0px 15px 0px;
}

#prog-eight{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
}

#prog-eight img{
    height: 200px;
    width: 200px;
}

#prog-eight h4{
    font-weight: 450;
    font-size: 24px;
    font-style: oblique;
    margin: 15px 0px 15px 0px;
}

/* Contacts */

.contacts{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-contact{
    height: 100%;
    width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #000000;
}

#contact-title{
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}

#contact-title img{
    height: 70px;
    width: 70px;
}

#contact-title h1{
    font-weight: 600;
    font-size: 35px;
    margin-left: 5px;
}

#contact-info{
    height: 90%;
    width: 980px;
    display: flex;
    flex-direction: row;
}

#contact-one{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #000000;
}

#contact-one p{
    margin: 10px auto;
    font-size: 18px;
    font-style: oblique;
    font-weight: bold;
}

#contact-two{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-two p{
    margin: 10px auto;
    font-size: 18px;
    font-style: oblique;
}

#contact-two a{
    text-decoration: none;
    font-size: 18px;
    color: black;

    &:hover{
        color: blue;
    }
}

/* Footer */

.hero-footer{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#footer-div{
    width: 1024px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #000000;
}

#icons-div{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#icons-div img{
    height: 30px;
    width: 30px;
}

#footer-div p{
    font-size: 20px;
    font-style: oblique;
}